<div  class=" routarea">
    <router-outlet></router-outlet>
</div>
    

<div class="card sidemenu">
    
    <div class="collapsible-header z-depth-1 waves-effect" (click)="moveTo('addoredit')">
        <i class="material-icons">edit_note</i>
       Add or Edit Questions
    </div>
    <div class="collapsible-header z-depth-1 waves-effect" (click)="moveTo('qualifiers')">
        <i class="material-icons">add_moderator</i>
       Add or Edit Qualifiers
    </div>
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">history_edu</i>
      Compose Question Paper
    </div>
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">account_circle</i>
        My Profile
    </div>
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">notifications</i>
        Notifications
    </div>
</div>
