<div  class=" routarea">
    <router-outlet></router-outlet>
</div>
    

<div class="card sidemenu">
    
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">edit_note</i>
       Add or Edit Questions
    </div>
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">edit_note</i>
       Add or Edit Questions
    </div>
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">edit_note</i>
       Add or Edit Questions
    </div>
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">edit_note</i>
       Add or Edit Questions
    </div>
    <div class="collapsible-header z-depth-1 waves-effect">
        <i class="material-icons">edit_note</i>
       Add or Edit Questions
    </div>
</div>
